<div>
  <h2 id="page-heading" data-cy="IngredienteHeading">
    <span jhiTranslate="jHipsterGApp.ingrediente.home.title">Ingredientes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jHipsterGApp.ingrediente.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-ingrediente"
        [routerLink]="['/ingrediente/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jHipsterGApp.ingrediente.home.createLabel"> Crear nuevo Ingrediente </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="ingredientes?.length === 0">
    <span jhiTranslate="jHipsterGApp.ingrediente.home.notFound">Ningún Ingredientes encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="ingredientes && ingredientes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span jhiTranslate="jHipsterGApp.ingrediente.nombre">Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <div class="d-flex">
              <span jhiTranslate="jHipsterGApp.ingrediente.descripcion">Descripcion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="gr">
            <div class="d-flex">
              <span jhiTranslate="jHipsterGApp.ingrediente.gr">Gr</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cal">
            <div class="d-flex">
              <span jhiTranslate="jHipsterGApp.ingrediente.cal">Cal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ingrediente of ingredientes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/ingrediente', ingrediente.id, 'view']">{{ ingrediente.id }}</a>
          </td>
          <td>{{ ingrediente.nombre }}</td>
          <td>{{ ingrediente.descripcion }}</td>
          <td>{{ ingrediente.gr }}</td>
          <td>{{ ingrediente.cal }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/helado']"
                [queryParams]="{ 'filter[ingredientesId.in]': ingrediente.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('jHipsterGApp.ingrediente.helados' | translate) }"
                  >Show Helado</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/ingrediente', ingrediente.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/ingrediente', ingrediente.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(ingrediente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ingredientes && ingredientes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
