<div>
  <h2 id="page-heading" data-cy="HeladoHeading">
    <span jhiTranslate="jHipsterGApp.helado.home.title">Helados</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jHipsterGApp.helado.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-helado"
        [routerLink]="['/helado/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jHipsterGApp.helado.home.createLabel"> Crear nuevo Helado </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="helados?.length === 0">
    <span jhiTranslate="jHipsterGApp.helado.home.notFound">Ningún Helados encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="helados && helados.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <div class="d-flex">
              <span jhiTranslate="jHipsterGApp.helado.nombre">Nombre</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="enOferta">
            <div class="d-flex">
              <span jhiTranslate="jHipsterGApp.helado.enOferta">En Oferta</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="precioOferta">
            <div class="d-flex">
              <span jhiTranslate="jHipsterGApp.helado.precioOferta">Precio Oferta</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="precio">
            <div class="d-flex">
              <span jhiTranslate="jHipsterGApp.helado.precio">Precio</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fechaCreacion">
            <div class="d-flex">
              <span jhiTranslate="jHipsterGApp.helado.fechaCreacion">Fecha Creacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fabricante.id">
            <div class="d-flex">
              <span jhiTranslate="jHipsterGApp.helado.fabricante">Fabricante</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let helado of helados; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/helado', helado.id, 'view']">{{ helado.id }}</a>
          </td>
          <td>{{ helado.nombre }}</td>
          <td>{{ helado.enOferta }}</td>
          <td>{{ helado.precioOferta }}</td>
          <td>{{ helado.precio }}</td>
          <td>{{ helado.fechaCreacion | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="helado.fabricante">
              <a [routerLink]="['/fabricante', helado.fabricante.id, 'view']">{{ helado.fabricante.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/helado', helado.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/helado', helado.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(helado)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="helados && helados.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
